*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding:  2px 3px 2px 2px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: fill ;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: normal;
}

.title {
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.content__video-card-description {
  line-height: 16.2px;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-bottom: 5px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 54px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: normal;
  font-size: 18px;
  border: 1px solid #fff;
  border-right: none;
  border-left: none;
  color: #fff;
  background-color: #1B1919;
  appearance: none;
  width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
 width: 19px;
 height: 19px;
 border: 1px solid #fff;
 padding: 1px;
 cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label-text:hover, .search-form__pseudo-checkbox:hover + .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 100%;
  cursor: pointer;
}

.search-form__submit-button {
  padding: 7px 72.5px;
  align-self: flex-end;
}

.more-button {
  min-height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
  cursor: pointer;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}